.profile__comment {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    grid-column: 1/3;
}

@media screen and (max-width: 690px) {
    .profile__comment {
      font-size: 14px;
      grid-column: 1/3;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  