.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 882px;
    padding: 40px 1em 0 1em;
}
  
@media screen and (max-width: 690px) {
  .profile {
    flex-direction: column;
    padding: 42px 19px 0 19px;
  }
}