.modal__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: black;
    padding: 0 0 54px 0;
    margin: 0;
  }

@media screen and (max-width: 480px) {
    .modal__heading {
      font-size: 18px;
      padding: 0 0 36px 0;
    }
  }