.card__like {
    background-image: url(../../../images/heart.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    height: 18px;
    width: 20px;
    align-self: center;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    flex: none;
}

.card__like:hover {
    opacity: 0.6;
}

.card__like:focus {
    outline: none;
  }

.card__like_active {
    background-image: url(../../../images/heart_black.svg);
}

.card__like_active:hover {
    opacity: 0.6;
}

.card__like_active:focus {
    outline: none;
  }