.header {
    max-width: 882px;
    height: 74px;
    margin: 45px auto 0 auto;
    border-bottom: solid 1px #545454;
}
  
@media screen and (max-width: 480px) {
.header {
  height: 56px;
    margin: 0;
    padding-top: 28px;
}
}